.btn-perfil {
    width: 38px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    border-radius: 50%;
}

.btn-perfil svg {
    width: 24px;
    height: 24px;
    display: block;
}

.btn-perfil:hover {
    background-color: rgba(43, 57, 144, 0.08);
}